<div class="sub-container">
  <%= form_tag(branches_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
  <table class="table branches-table">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </thead> 
    <% @branches.each do |branch| %>
      <%= render branch %>
    <% end %>
  </table>
  <div class="button-cont">
    <%= button_to '+', new_branch_path, method: :get, class: 'button' %>
  </div>
</div>
