<div class="sub-container">
  <%= form_tag(branches_path, method: :get, class: 'search-row search-option') do %>
    <div class="search field">
      <%= text_field_tag(:search, params[:search], placeholder: 'Search by name') %>
    </div>
    <%= submit_tag ("Search"), class: 'secundary-button' %>
  <% end %>
  <table class="table branches-table">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </thead> 
    <% @branches.each do |branch| %>
      <%= render branch %>
    <% end %>
  </table>
  <div class="button-cont">
    <%= button_to '+', new_branch_path, method: :get, class: 'button' %>
  </div>
</div>
