<div id="<%= dom_id employee %>">
 
  <tbody>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.position %></td>
      <td><%= employee.id %></td>
      <td><%= employee.private_code %></td>
      <td><%= employee.branch_id %></td>
      <td><%= employee.active %></td>
      <td><i class="fa-solid fa-pen-to-square"></i></td>
    </tr>
  </tbody>

</div>
