<div class="sub-container">
  <%= form_tag(employees_path, method: :get, class: 'search-row search-option') do %>
    <div class="search field">
      <%= text_field_tag(:search, params[:search], placeholder: 'Search by name') %>
    </div>
    <%= submit_tag ('Search'), class: 'secundary-button' %>
  <% end %>  
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>#</th>
      <th>Private <br> number</th>
      <th>Branch</th>
      <th>Active</th>
      <th>Actions</th>
    </thead> 
    <% @employees.each do |employee| %>
      <%= render employee %>
    <% end %>
  </table>
  <div class="button-cont">
    <%= button_to '+', new_employee_path, method: :get, class: 'button' %>
  </div>
</div>
