<nav>
  <p>FOO CORP</p>
</nav>
<div class="sub-container">
  <%= form_tag(employees_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>  
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>#</th>
      <th>Private <br> number</th>
      <th>Branch</th>
      <th>Active</th>
      <th>Actions</th>
    </thead> 
    <% @employees.each do |employee| %>
      <%= render employee %>
    <% end %>
  </table>
  <div class="button-cont">
    <%= button_to '+', new_employee_path, method: :get, class: 'button' %>
  </div>
</div>
