<div id="<%= dom_id attendance %>">
  <tbody>
    <tr>
      <td><%= Employee.name_by_id(attendance.employee_id) %></td>
      <td><%= attendance.employee_id %></td>
      <td><%= attendance.check_in %></td>
      <td><%= attendance.check_out %></td>
    </tr>
  </tbody>
</div>
