<nav class="navbar">
  <div class="left-nav">
    <div class="logo">
      <%= link_to 'FOO CORP', '/' %>     
    </div>
    <div class="views-links">
      <ul>
        <li><%= link_to 'Employees', '/employees' %></li>
        <li><%= link_to 'Branches', '/branches' %></li>
        <li><%= link_to 'Reports', '/attendances' %></li>
      </ul>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Sign out", destroy_admin_session_path, data: { turbo_method: :delete } %></li>
    </ul>
  </div>
</nav>
