<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/747117353f.js" crossorigin="anonymous"></script>
    <title>Kata07RelojChecadorK7F22T4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin_branches", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class = "container">
    <%= yield %>
    </div>
  </body>
</html>